## ìœ íŠœë¸Œ ì¸ê¸°ë™ì˜ìƒ ë°ì´í„°

In [2]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

### 1. ì¸ê¸°ë™ì˜ìƒ ì œì‘íšŸìˆ˜ê°€ ë§ì€ ì±„ë„ ìƒìœ„ 10ê°œëª…ì„ ì¶œë ¥í•˜ë¼(ë‚ ì§œ ê¸°ì¤€, ì¤‘ë³µ í¬í•¨)

In [9]:
df.groupby('channelTitle').count().sort_values(by='title',ascending=False).head(10)

,title,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
channelTitle,,,,,,,,
ì§¤íˆ°,372,372,372,372,372,372,372,372
íŒŒë¿Œë¦¬,318,318,318,318,318,318,318,318
SPOTV,318,318,318,318,318,318,318,318
ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„,313,313,313,313,313,313,313,313
ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„,293,293,293,293,293,293,293,293
ì¥ì‚ì­ˆ,283,283,283,283,283,283,283,283
BANGTANTV,275,275,275,275,275,275,275,275
ì±„ë„ ì‹­ì˜¤ì•¼,274,274,274,274,274,274,274,274
ì´ê³¼ì¥,258,258,258,258,258,258,258,258
ì´ëª‡ëª…,255,255,255,255,255,255,255,255

### 2. ë…¼ë€ìœ¼ë¡œ ì¸ê¸°ë™ì˜ìƒì´ ëœ ì¼€ì´ìŠ¤ë¥¼ í™•ì¸í•˜ê³  ì‹¶ë‹¤. dislikes ìˆ˜ê°€ like ìˆ˜ë³´ë‹¤ ë†’ì€ ë™ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼

In [10]:
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[ì‹ ë³‘] ë¬¼ìì°½ê³,ì¥ì‚ì­ˆ,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(ë¹„) - ë‚˜ë¡œ ë°”ê¾¸ì Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020ë…„ ì œì•¼ì˜ ì¢… ì˜¨ë¼ì¸ íƒ€ì¢…í–‰ì‚¬ | ë³´ì‹ ê° í˜„ì¥ í–‰ì‚¬ëŠ” ì§„í–‰í•˜ì§€ ì•ŠìŠµë‹ˆë‹¤.,ì„œìš¸ì‹œ Â· Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,ê³ ê¸°ë‚¨ìì˜ ì¹ ë©´ì¡° íŒŒí‹°,ê³ ê¸°ë‚¨ì MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,ê³¨ëª© 3mcë¥¼ ë¶„ë…¸í•˜ê²Œ ë§Œë“ ë§ˆìŒê³ ìƒì´ ì‹¬í–ˆì„ ê³µë¦‰ ë°±ë°˜ì§‘ ì‚¬ì¥ë‹˜ì˜ í‘¸ë…?! [ì˜ˆëŠ¥...,ìŠ¤ë¸ŒìŠ¤ë°¥ì§‘,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [13]:
df[df['likes'] < df['dislikes']].channelTitle.unique()

array(['í•«ë„ê·¸TV', 'ASMR ì• ì •TV', 'í•˜ì–€íŠ¸ë¦¬HayanTree', 'ì–‘íŒ¡ YangPang',
       'ì² êµ¬í˜• (CHULTUBE)', 'ì™œëƒë§¨í•˜ìš°ìŠ¤', '(MUTUBE)ì™€ê¾¸ëŒ€ì¥ë´‰ì¤€', 'ì˜¤ë©”í‚´TV', 'ìœ¡ì§€ë‹´',
       'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', 'ì‚¬ë‚˜ì´ ê¹€ê¸°í›ˆ',
       'ë‚˜í˜¼ìì‚°ë‹¤ STUDIO', 'Gen.G esports'], dtype=object)

### 3. ì±„ë„ëª…ì„ ë°”ê¾¼ ì¼€ì´ìŠ¤ê°€ ìˆëŠ”ì§€ í™•ì¸í•˜ê³  ì‹¶ë‹¤. channelIdì˜ ê²½ìš° ê³ ìœ ê°’ì´ë¯€ë¡œ ì´ë¥¼ í†µí•´ ì±„ë„ëª…ì„ í•œë²ˆì´ë¼ë„ ë°”ê¾¼ ì±„ë„ì˜ ê°¯ìˆ˜ë¥¼ êµ¬í•˜ì—¬ë¼. V

In [39]:
# í’€ì´

changed = df[['channelTitle', 'channelId']].drop_duplicates().channelId.value_counts()
changed = changed[changed > 1]
len(changed)

71

### 4. ì¼ìš”ì¼ì— ì¸ê¸° ìˆì—ˆë˜ ì˜ìƒë“¤ ì¤‘ ê°€ì¥ ë§ì€ ì˜ìƒ ì¢…ë¥˜(categoryId)ëŠ” ë¬´ì—‡ì¸ê°€? V

In [3]:
df.trending_date2 = pd.to_datetime(df.trending_date2)

In [4]:
df.trending_date2.dt.weekday  # ìš”ì¼ ìˆ«ìë¡œ ë³€í™˜

0        4
1        4
2        4
3        4
4        4
        ..
60394    1
60395    1
60396    1
60397    1
60398    1
Name: trending_date2, Length: 60399, dtype: int64

In [5]:
df['trending_day'] = df.trending_date2.dt.day_name() # ìš”ì¼ ë³€í™˜

In [78]:
df[df.trending_day == 'Sunday'].categoryId.value_counts().sort_values(ascending=False)

24    3096
22    1337
10     830
17     636
23     556
25     437
26     363
20     289
1      274
15     217
27     199
28     167
2       99
19      91
29       9
Name: categoryId, dtype: int64

### 5. ê° ìš”ì¼ë³„ ì¸ê¸° ì˜ìƒë“¤ì˜ categoryIdëŠ” ê°ê° ëª‡ ê°œ ì”©ì¸ì§€ í•˜ë‚˜ì˜ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ í‘œí˜„í•˜ë¼ V

In [16]:
num_5 = df.groupby(['trending_day','categoryId'],as_index=False).size()
num_5

    trending_day  categoryId  size
0         Friday           1   243
1         Friday           2   120
2         Friday          10   833
3         Friday          15   187
4         Friday          17   633
..           ...         ...   ...
100    Wednesday          25   468
101    Wednesday          26   385
102    Wednesday          27   212
103    Wednesday          28   165
104    Wednesday          29    12

[105 rows x 3 columns]

In [17]:
# ë°ì´í„°í”„ë ˆì„ í˜•íƒœ ë³€ê²½

num_5.pivot(index='categoryId', columns='trending_day')

               size
trending_day Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1               243    263      255    274      246     257       234
2               120    105      119     99      128     119       129
10              833    837      776    830      890     894       917
15              187    215      198    217      207     208       207
17              633    668      592    636      682     708       706
19               90     92       87     91       92      89        85
20              283    298      296    289      282     285       291
22             1288   1373     1289   1337     1341    1375      1333
23              568    594      570    556      560     569       566
24             2976   3148     3066   3096     2954    3084      3090
25              444    453      422    437      470     452       468
26              369    378      364    363      375     394       385
27              183    205      183    199      194     194       212
28              171    160      173    167      166     161       165
29               12     10       10      9       13      11        12

### 6. ëŒ“ê¸€ì˜ ìˆ˜(comment_count)ë¡œ ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcount ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë†’ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼. ( view_count ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [45]:
num_6 = df[df.view_count != 0]
num_6['commentperview'] = num_6['comment_count'] / num_6['view_count']

/var/folders/fd/1n9xc_8d2d51bf04p61cdylw0000gn/T/ipykernel_96328/2755703423.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  num_6['commentperview'] = num_6['comment_count'] / num_6['view_count']

In [49]:
num_6.sort_values(by='commentperview', ascending=False).head(1)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,trending_day,commentperview
50830,"60ë¶„ ë™ì•ˆ ëŒ“ê¸€ì´ ë‹¬ë¦¬ì§€ ì•Šìœ¼ë©´, ì˜ìƒì´ ì‚­ì œë©ë‹ˆë‹¤. (ì±Œë¦°ì§€)",íŒ©í† ë¦¬,24,1214527,38246,528,196166,UCs8R3nVeg0E100H6C8qozgw,2021-09-02,Thursday,0.161516

### 7. ëŒ“ê¸€ì˜ ìˆ˜(comment_count)ë¡œ ì˜ìƒ ë°˜ì‘ì— ëŒ€í•œ íŒë‹¨ì„ í•  ìˆ˜ ìˆë‹¤. viewcount ëŒ€ë¹„ ëŒ“ê¸€ ìˆ˜ê°€ ê°€ì¥ ë‚®ì€ ì˜ìƒì„ í™•ì¸í•˜ë¼. ( view_counts, ratio ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤.)

In [59]:
num_7 = num_6[num_6['commentperview'] != 0]
num_7.sort_values(by='commentperview').head(1)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,trending_day,commentperview
46005,Join the BTS #PermissiontoDance Challenge only...,YouTube,27,46458563,0,0,1,UCBR8-60-B28hp2BmDPdntcQ,2021-08-09,Monday,2.152456e-08

### 8. like ëŒ€ë¹„ dislikeì˜ ìˆ˜ê°€ ê°€ì¥ ì ì€ ì˜ìƒì€ ë¬´ì—‡ì¸ê°€? (like, dislike ê°’ì´ 0ì¸ ê²½ìš°ëŠ” ì œì™¸í•œë‹¤)

In [62]:
num_8 = df.copy()
num_8 = num_8[(num_8['likes'] != 0) & (num_8['dislikes'] != 0)]

In [64]:
num_8['dislikeperlike'] = num_8['dislikes'] / num_8['likes']
num_8.sort_values(by='dislikeperlike').head(1)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2,trending_day,dislikeperlike
11477,[ì¤Œí„°ë·°] *ìµœì´ˆê³µê°œ* ì‚¬ë¶€ì‘ì¦ˆğŸ°ğŸ¶ì˜ ë¹„ê³µì‹ ì´ë¦„ì€ ì•„ì´ë¼ì¸ì¦ˆ? ê¿€ì¡°í•© í‹°í‚¤íƒ€ì¹´ ê°€...,CosmopolitanKorea,26,122354,19104,10,851,UCVWr5QkOkYupX6fEELMNvuQ,2021-02-27,Saturday,0.000523

### 9. ê°€ì¥ ë§ì€ íŠ¸ë Œë“œ ì˜ìƒì„ ì œì‘í•œ ì±„ë„ì˜ ì´ë¦„ì€ ë¬´ì—‡ì¸ê°€(ë‚ ì§œ ê¸°ì¤€, ì¤‘ë³µ í¬í•¨)

In [53]:
df.groupby('channelTitle').size().sort_values(ascending=False)

channelTitle
ì§¤íˆ°                          372
íŒŒë¿Œë¦¬                         318
SPOTV                       318
ëŸ°ë‹ë§¨ - ìŠ¤ë¸ŒìŠ¤ ê³µì‹ ì±„ë„             313
ì— ëšœë£¨ë§ˆëšœë£¨ : MBC ê³µì‹ ì¢…í•© ì±„ë„       293
                           ...
í˜œì„± MoonBrand                  1
KBS ë‹¤í [KBS Documentary]      1
DRX                           1
INSSAOPPA G [ì¸ì‹¸ì˜¤ë¹ ]            1
ê³µì›ìƒí™œ / ParkLife               1
Length: 1832, dtype: int64

### 10. 20íšŒ(20ì¼)ì´ìƒ ì¸ê¸°ë™ì˜ìƒ ë¦¬ìŠ¤íŠ¸ì— í¬í•¨ëœ ë™ì˜ìƒì˜ ìˆ«ìëŠ”?

In [71]:
num_10 = df[['title', 'trending_date2']].groupby('title', as_index=False).size()

In [74]:
len(num_10[num_10['size'] >= 20])

41

## ìœ íŠœë¸Œ ê³µë²” ì»¨í…ì¸  ë™ì˜ìƒ ë°ì´í„°

In [1]:
import pandas as pd

# ì°¸ê°€ì ì±„ë„ ì •ë³´
channel = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/channelInfo.csv')
# ë¹„ë””ì˜¤ ì •ë³´
video = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/videoInfo.csv')

In [2]:
channel.head()

,channelid,subcnt,viewcnt,videocnt,ct,channelname
0,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,410238653,736,2021-09-30 03:01:03,ê½ˆëšœë£¹
1,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,736,2021-09-30 09:01:03,ê½ˆëšœë£¹
2,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,735,2021-09-30 15:01:03,ê½ˆëšœë£¹
3,UCkQCwnkQfgSuPTTnw_Y7v7w,1310000,412531322,737,2021-09-30 21:01:03,ê½ˆëšœë£¹
4,UCkQCwnkQfgSuPTTnw_Y7v7w,1320000,412531322,737,2021-10-01 03:01:04,ê½ˆëšœë£¹

In [3]:
video.head()

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
0,c5JQp6xafqc,1667010,30474,706,0,6587,2021-10-10 15:20:03,ê³µë²” EP1
1,c5JQp6xafqc,1669089,30495,707,0,6589,2021-10-10 15:30:03,ê³µë²” EP1
2,c5JQp6xafqc,1674759,30522,711,0,6596,2021-10-10 15:40:02,ê³µë²” EP1
3,c5JQp6xafqc,1677026,30555,712,0,6604,2021-10-10 15:50:03,ê³µë²” EP1
4,c5JQp6xafqc,1681824,30585,713,0,6600,2021-10-10 16:00:03,ê³µë²” EP1

### 1. ê° ë°ì´í„°ì˜ 'ct'ì»¬ëŸ¼ì„ ì‹œê°„ìœ¼ë¡œ ì¸ì‹í•  ìˆ˜ ìˆê²Œ datatypeì„ ë³€ê²½í•˜ê³  video ë°ì´í„°ì˜ videonameì˜ ê° valueë§ˆë‹¤ ëª‡ ê°œì˜ ë°ì´í„°ì”© ê°€ì§€ê³  ìˆëŠ”ì§€ í™•ì¸í•˜ë¼

In [4]:
channel['ct'] = pd.to_datetime(channel.ct)
video['ct'] = pd.to_datetime(video.ct)

In [5]:
video.videoname.value_counts()

 ê³µë²” EP1    3492
 ê³µë²” EP2    3204
 ê³µë²” EP3    2568
 ê³µë²” EP4    2280
 ê³µë²” EP5    1562
 ê³µë²” EP6    1274
 ê³µë²” EP7     555
 ê³µë²” EP8     266
Name: videoname, dtype: int64

### 2. ìˆ˜ì§‘ëœ ê° videoì˜ ê°€ì¥ ìµœì‹ í™”ëœ ë‚ ì§œì˜ viewcountê°’ì„ ì¶œë ¥í•˜ë¼ V

In [6]:
num_2 = video.sort_values(['videoname','ct'])
num_2

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
11,c5JQp6xafqc,13087,1113,7,0,273,2021-10-07 19:20:02,ê³µë²” EP1
12,c5JQp6xafqc,19991,1446,12,0,363,2021-10-07 19:30:03,ê³µë²” EP1
13,c5JQp6xafqc,27451,1859,19,0,479,2021-10-07 19:40:03,ê³µë²” EP1
14,c5JQp6xafqc,36559,2306,23,0,602,2021-10-07 19:50:03,ê³µë²” EP1
...,...,...,...,...,...,...,...,...
15196,yZt-h-KcmUE,1285474,25582,3615,0,31603,2021-11-01 14:50:06,ê³µë²” EP8
15197,yZt-h-KcmUE,1286376,25592,3617,0,31627,2021-11-01 15:00:05,ê³µë²” EP8
15198,yZt-h-KcmUE,1287172,25597,3619,0,31643,2021-11-01 15:10:05,ê³µë²” EP8
15199,yZt-h-KcmUE,1288138,25606,3619,0,31648,2021-11-01 15:20:04,ê³µë²” EP8
15200,yZt-h-KcmUE,1289088,25616,3621,0,31663,2021-11-01 15:30:05,ê³µë²” EP8

In [7]:
num_2 = num_2.drop_duplicates('videoname', keep='last')[['viewcnt', 'videoname', 'ct']]
num_2

       viewcnt videoname                  ct
3491   3180532    ê³µë²” EP1 2021-11-01 15:30:03
6695   2199328    ê³µë²” EP2 2021-11-01 15:30:03
9263   1671294    ê³µë²” EP3 2021-11-01 15:30:03
11543  1818493    ê³µë²” EP4 2021-11-01 15:30:03
13105  1503435    ê³µë²” EP5 2021-11-01 15:30:04
14934  1750222    ê³µë²” EP6 2021-11-01 15:30:04
13660  1630200    ê³µë²” EP7 2021-11-01 15:30:05
15200  1289088    ê³µë²” EP8 2021-11-01 15:30:05

In [8]:
num_2.reset_index(drop=True)

   viewcnt videoname                  ct
0  3180532    ê³µë²” EP1 2021-11-01 15:30:03
1  2199328    ê³µë²” EP2 2021-11-01 15:30:03
2  1671294    ê³µë²” EP3 2021-11-01 15:30:03
3  1818493    ê³µë²” EP4 2021-11-01 15:30:03
4  1503435    ê³µë²” EP5 2021-11-01 15:30:04
5  1750222    ê³µë²” EP6 2021-11-01 15:30:04
6  1630200    ê³µë²” EP7 2021-11-01 15:30:05
7  1289088    ê³µë²” EP8 2021-11-01 15:30:05

### 3. Channel ë°ì´í„° ì¤‘ 2021-10-03ì¼ ì´í›„ ê° ì±„ë„ì˜ ì²˜ìŒ ê¸°ë¡ë˜ì—ˆë˜ êµ¬ë…ì ìˆ˜(subcnt)ë¥¼ ì¶œë ¥í•˜ë¼ V

In [9]:
num_3 = channel[channel.ct > pd.to_datetime('2021-10-03')]

In [10]:
num_3 = num_3.sort_values(['ct','channelname']).drop_duplicates('channelname')
num_3

,channelid,subcnt,viewcnt,videocnt,ct,channelname
393,UCDV9zgWo7b6nPg7i49oRQ5Q,922000,99187513,82,2021-10-03 03:01:02,ë…¼ë¦¬ì™• ì „ê¸°
139,UCEI4rb8YldV8v0dVUSo9ToQ,257000,28415226,73,2021-10-03 03:01:02,ì•¼ì „ì‚½ì§±ì¬
266,UCqwNCDzQBfw2seMRJpL-RWg,322000,71955394,212,2021-10-03 03:01:02,ì¸„ì •ChuJeong
901,UCOYhhfLMGY8OjsbfGNVf7Lw,7520,1444890,15,2021-10-03 03:01:03,ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶
1028,UCKOeR5Evsupc77nPL3qCMnw,10100,188523,21,2021-10-03 03:01:03,ë¦´í„ Lilpearl
520,UClu0udsIHkalM416ttWe_Zw,55000,4681137,107,2021-10-03 03:01:03,ì™€ê¸€ì™€ê¸€ WagleWagle
647,UCM9Rx3EqBJ-jMhD2E8Gjb4g,215000,15902641,60,2021-10-03 03:01:03,ì¡°ë‚˜ë‹¨
774,UCI9W73BWje69k7f1m_I4mbQ,14900,206221,49,2021-10-03 03:01:03,í˜•ì‚¬!íƒì •ë˜ë‹¤
1276,UCbBzKnCYcG7E3EIkSTdsawA,54300,7050078,54,2021-10-03 03:01:04,Balming Tiger
1155,UCs9H--14toIRdJQAD9qz9tA,471000,128772621,548,2021-10-03 03:01:04,ê³½í† ë¦¬ kwak tori
12,UCkQCwnkQfgSuPTTnw_Y7v7w,1330000,414984078,738,2021-10-03 03:01:04,ê½ˆëšœë£¹

In [11]:
num_3[['channelname','subcnt']].reset_index(drop=True)

        channelname   subcnt
0            ë…¼ë¦¬ì™• ì „ê¸°   922000
1             ì•¼ì „ì‚½ì§±ì¬   257000
2        ì¸„ì •ChuJeong   322000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
4       ë¦´í„ Lilpearl    10100
5   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
6               ì¡°ë‚˜ë‹¨   215000
7           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
8     Balming Tiger    54300
9     ê³½í† ë¦¬ kwak tori   471000
10              ê½ˆëšœë£¹  1330000

### 4. ê° ì±„ë„ì˜ 2021-10-03 03:00:00 ~ 2021-11-01 15:00:00ê¹Œì§€ êµ¬ë…ììˆ˜(subcnt)ì˜ ì¦ê°€ëŸ‰ì„ êµ¬í•˜ì—¬ë¼

In [12]:
before = channel[channel.ct >= pd.to_datetime('2021-10-03 03:00:00')].sort_values(['ct','channelname']).drop_duplicates('channelname')[['channelname','subcnt']]
before

          channelname   subcnt
393            ë…¼ë¦¬ì™• ì „ê¸°   922000
139             ì•¼ì „ì‚½ì§±ì¬   257000
266        ì¸„ì •ChuJeong   322000
901        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     7520
1028      ë¦´í„ Lilpearl    10100
520   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
647               ì¡°ë‚˜ë‹¨   215000
774           í˜•ì‚¬!íƒì •ë˜ë‹¤    14900
1276    Balming Tiger    54300
1155    ê³½í† ë¦¬ kwak tori   471000
12                ê½ˆëšœë£¹  1330000

In [13]:
after = channel[channel.ct <= pd.to_datetime('2021-11-01 15:00:00')].sort_values(['ct','channelname']).drop_duplicates('channelname', keep='last')[['channelname','subcnt']]
after

          channelname   subcnt
256             ì•¼ì „ì‚½ì§±ì¬   268000
1018       ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶     9060
510            ë…¼ë¦¬ì™• ì „ê¸°   911000
637   ì™€ê¸€ì™€ê¸€ WagleWagle    55000
764               ì¡°ë‚˜ë‹¨   227000
383        ì¸„ì •ChuJeong   323000
891           í˜•ì‚¬!íƒì •ë˜ë‹¤    25200
1393    Balming Tiger    56800
1272    ê³½í† ë¦¬ kwak tori   469000
1145      ë¦´í„ Lilpearl    21100
129               ê½ˆëšœë£¹  1400000

In [14]:
num_4 = pd.merge(before, after, on='channelname')
num_4['del'] = num_4['subcnt_y'] - num_4['subcnt_x']
num_4 = num_4.drop(['subcnt_x','subcnt_y'],axis=1)
num_4

        channelname    del
0            ë…¼ë¦¬ì™• ì „ê¸° -11000
1             ì•¼ì „ì‚½ì§±ì¬  11000
2        ì¸„ì •ChuJeong   1000
3        ê¹€ë†ë°€ì˜ ë†ë°€í•œ ì‚¶   1540
4       ë¦´í„ Lilpearl  11000
5   ì™€ê¸€ì™€ê¸€ WagleWagle      0
6               ì¡°ë‚˜ë‹¨  12000
7           í˜•ì‚¬!íƒì •ë˜ë‹¤  10300
8     Balming Tiger   2500
9     ê³½í† ë¦¬ kwak tori  -2000
10              ê½ˆëšœë£¹  70000

### 5. ê° ë¹„ë””ì˜¤ëŠ” 10ë¶„ ê°„ê²©ìœ¼ë¡œ êµ¬ë…ììˆ˜, ì¢‹ì•„ìš”, ì‹«ì–´ìš”ìˆ˜, ëŒ“ê¸€ìˆ˜ê°€ ìˆ˜ì§‘ëœ ê²ƒìœ¼ë¡œ ì•Œë ¤ì¡Œë‹¤. ê³µë²” EP1ì˜ ë¹„ë””ì˜¤ì •ë³´ ë°ì´í„° ì¤‘ ìˆ˜ì§‘ê°„ê²©ì´ 5ë¶„ ì´í•˜, 20ë¶„ ì´ìƒì¸ ë°ì´í„° êµ¬ê°„(í•´ë‹¹ ì‹œì  ì „, í›„)ì˜ ì‹œê°ì„ ëª¨ë‘ ì¶œë ¥í•˜ë¼. V ì•ˆí• ë˜..

In [57]:
import datetime as dt

num_5 = video[video.videoname == ' ê³µë²” EP1'].sort_values('ct').reset_index()
lst = list()
for i in range(len(num_5)):
    time = video.loc[i+1,'ct'] - video.loc[i,'ct']
    if (time <= dt.timedelta(minutes=5)) or (time >= dt.timedelta(minutes=20)):
        lst.append(i)
        lst.append(i+1)

video.loc[lst,:]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
9,c5JQp6xafqc,1697079,30724,717,0,6621,2021-10-10 16:50:03,ê³µë²” EP1
10,c5JQp6xafqc,6396,680,3,0,226,2021-10-07 19:10:03,ê³µë²” EP1
417,c5JQp6xafqc,1663790,30454,703,0,6581,2021-10-10 15:10:03,ê³µë²” EP1
418,c5JQp6xafqc,1700233,30747,716,0,6632,2021-10-10 17:00:03,ê³µë²” EP1
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
3491,c5JQp6xafqc,3180532,41043,1113,0,7674,2021-11-01 15:30:03,ê³µë²” EP1
3492,23QQ1ru9YQg,826016,15871,354,0,6480,2021-10-10 16:10:03,ê³µë²” EP2

In [59]:
# í’€ì´

ep_one = video[video.videoname.str.contains('1')].sort_values('ct').reset_index(drop=True)

ep_one[(ep_one.ct.diff(1) >= dt.timedelta(minutes=20)) | (ep_one.ct.diff(1) <= dt.timedelta(minutes=5))]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1

In [61]:
ep_one.loc[(720,721,722,723,1635,1636,1637),:]

,videopk,viewcnt,likecnt,dislikecnt,favoritecnt,cmcnt,ct,videoname
720,c5JQp6xafqc,2153676,34104,830,0,7120,2021-10-12 19:20:03,ê³µë²” EP1
721,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
722,c5JQp6xafqc,2228250,34559,849,0,7191,2021-10-13 09:41:37,ê³µë²” EP1
723,c5JQp6xafqc,2228669,34566,849,0,7194,2021-10-13 09:50:03,ê³µë²” EP1
1635,c5JQp6xafqc,2706691,37893,987,0,7410,2021-10-19 17:50:02,ê³µë²” EP1
1636,c5JQp6xafqc,2707933,37901,988,0,7410,2021-10-19 18:20:03,ê³µë²” EP1
1637,c5JQp6xafqc,2708448,37903,988,0,7410,2021-10-19 18:30:03,ê³µë²” EP1

### 6. ê° ì—í”¼ì†Œë“œì˜ ì‹œì‘ë‚ ì§œ(ë…„-ì›”-ì¼)ë¥¼ ì—í”¼ì†Œë“œ ì´ë¦„ê³¼ ë¬¶ì–´ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“¤ê³  ì¶œë ¥í•˜ë¼

In [91]:
num_6 = video.sort_values(['videoname', 'ct']).drop_duplicates('videoname')[['ct','videoname']]
num_6['date'] = num_6.ct.dt.date
num_6[['date','videoname']]

             date videoname
10     2021-10-07    ê³µë²” EP1
3496   2021-10-09    ê³µë²” EP2
6696   2021-10-14    ê³µë²” EP3
9264   2021-10-16    ê³µë²” EP4
11544  2021-10-21    ê³µë²” EP5
13661  2021-10-23    ê³µë²” EP6
13106  2021-10-28    ê³µë²” EP7
14935  2021-10-30    ê³µë²” EP8

### 7. 'ê³µë²”' ì»¨í…ì¸ ì˜ ê²½ìš° 19:00ì‹œì— ê³µê°œ ë˜ëŠ” ê²ƒìœ¼ë¡œ ì•Œë ¤ì ¸ ìˆë‹¤. ê³µê°œëœ ë‚ ì˜ 21ì‹œì˜ viewcnt, ct, videonameìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„°í”„ë ˆì„ì„ ë‚´ë¦¼ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ì—¬ ì¶œë ¥í•˜ë¼.

In [104]:
num_7 = video.sort_values(['videoname','ct'])
num_7 = num_7[num_7.ct.dt.hour==21].drop_duplicates('videoname').sort_values('viewcnt',ascending=False).reset_index(drop=True)
num_7[['videoname','viewcnt','ct']]

  videoname  viewcnt                  ct
0    ê³µë²” EP8   264029 2021-10-30 21:00:08
1    ê³µë²” EP7   252032 2021-10-28 21:00:04
2    ê³µë²” EP4   217674 2021-10-16 21:00:04
3    ê³µë²” EP6   213899 2021-10-23 21:00:06
4    ê³µë²” EP5   201179 2021-10-21 21:00:04
5    ê³µë²” EP2   148144 2021-10-09 21:00:03
6    ê³µë²” EP3   147183 2021-10-14 21:00:04
7    ê³µë²” EP1   117340 2021-10-07 21:00:03

### 8. video ì •ë³´ì˜ ê°€ì¥ ìµœê·¼ ë°ì´í„°ë“¤ì—ì„œ ê° ì—í”¼ì†Œë“œì˜ ì‹«ì–´ìš”/ì¢‹ì•„ìš” ë¹„ìœ¨ì„ ratio ì»¬ëŸ¼ìœ¼ë¡œ ë§Œë“¤ê³  videoname, ratioë¡œ êµ¬ì„±ëœ ë°ì´í„°í”„ë ˆì„ì„ ratioì˜ ì˜¤ë¦„ì°¨ìˆœìœ¼ë¡œ ì •ë ¬í•˜ë¼.

In [111]:
num_8 = video.sort_values(['ct','videoname']).drop_duplicates('videoname',keep='last')
num_8['ratio'] = num_8.dislikecnt / num_8.likecnt
num_8 = num_8.sort_values('ratio').reset_index(drop=True)
num_8[['videoname','ratio']]

  videoname     ratio
0    ê³µë²” EP7  0.013636
1    ê³µë²” EP6  0.015881
2    ê³µë²” EP4  0.017971
3    ê³µë²” EP5  0.021128
4    ê³µë²” EP3  0.022360
5    ê³µë²” EP1  0.027118
6    ê³µë²” EP2  0.029844
7    ê³µë²” EP8  0.141357

### 9. 2021-11-01 00:00:00 ~ 15:00:00ê¹Œì§€ ê° ì—í”¼ì†Œë“œë³„ viewcntì˜ ì¦ê°€ëŸ‰ì„ ë°ì´í„°í”„ë ˆì„ìœ¼ë¡œ ë§Œë“œì‹œì˜¤.

In [124]:
start = pd.to_datetime('2021-11-01 00:00:00')
end = pd.to_datetime('2021-11-01 15:00:00')
num_9 = video[(video.ct >= start) & (video.ct <= end)].sort_values(['videoname','ct'])

start_df = num_9.drop_duplicates('videoname').reset_index(drop=True)[['videoname','viewcnt']]
end_df = num_9.drop_duplicates('videoname',keep='last').reset_index(drop=True)[['videoname','viewcnt']]

num_9 = start_df.merge(end_df,on='videoname')
num_9['viewcnt'] = num_9.viewcnt_y - num_9.viewcnt_x
num_9[['videoname','viewcnt']]

  videoname  viewcnt
0    ê³µë²” EP1    13298
1    ê³µë²” EP2    10300
2    ê³µë²” EP3     9927
3    ê³µë²” EP4     9824
4    ê³µë²” EP5    10824
5    ê³µë²” EP6    14141
6    ê³µë²” EP7    26949
7    ê³µë²” EP8    89147

### 10. video ë°ì´í„° ì¤‘ì—ì„œ ì¤‘ë³µë˜ëŠ” ë°ì´í„°ê°€ ì¡´ì¬í•œë‹¤. ì¤‘ë³µë˜ëŠ” ê° ë°ì´í„°ì˜ ì‹œê°„ëŒ€ì™€ videonameì„ êµ¬í•˜ì—¬ë¼. V

In [127]:
video.loc[list(set(video.index) - set(video.drop_duplicates().index)),:][['videoname','ct']]

     videoname                  ct
722     ê³µë²” EP1 2021-10-13 09:41:37
3927    ê³µë²” EP2 2021-10-13 09:41:37